

@import "tailwindcss";

body{
    font-family: "Inter", sans-serif;
}

/* .poppins {
    font-family: "Poppins", sans-serif;
} */


.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
@theme {
    --color-secondary: #07D8DD;
    --color-primryBtn: #00B7C1;
    }


 @theme {
     --font-poppins: "Poppins",
        sans-serif;
     --font-inter: "Inter",
        sans-serif;
    }